<header class="header" data-aos="fade-in" data-aos-once="true" data-aos-duration="1000">
  <!-- When whitelabel user login need to toggal class "navbar-light bg-light" : "navbar-dark bg-primary" -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#"><img class="img-fluid logo" src="/assets/images/logo-beta.svg"
        alt="MyAbilities"></a>
    <ng-select class="ml-auto" [items]="languages" bindLabel="name" autofocus bindValue="id" [clearable]=false
      [searchable]=false [(ngModel)]="selectedLanguage" (change)="changeLanguage(selectedLanguage)">
    </ng-select>
    <label class="mb-0 ml-3">
      <input type="color" name="favcolor" [(ngModel)]="selectedColor" (change)="changeTheme(selectedColor)"
        value="selectedColor">
    </label>
  </nav>
  <!-- whitelabel branding bar -->
  <div class="header-branding-bar text-light bg-primary d-none">
    <span>CLAIMx RTW Solutions</span>&nbsp;
    <span>|&nbsp;</span>
    <i>The only way to expedite RTW using realtime data.</i>
  </div>
</header>
