@import '../../../../assets/scss/variables-custom';

.header{    
    .navbar{
        height: $height-height;
    }
}
.logo {
    max-height: $logo-max-height;
}
.header-branding-bar{
    font-size: 14px;
    padding: 0.2rem 1rem;
}