@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
  
    .border#{$infix}         { border: $border-width solid $border-color !important; }
    .border#{$infix}-top     { border-top: $border-width solid $border-color !important; }
    .border#{$infix}-right   { border-right: $border-width solid $border-color !important; }
    .border#{$infix}-bottom  { border-bottom: $border-width solid $border-color !important; }
    .border#{$infix}-left    { border-left: $border-width solid $border-color !important; }
    .border-0        { border: 0 !important; }
    .border-top-0    { border-top: 0 !important; }
    .border-right-0  { border-right: 0 !important; }
    .border-bottom-0 { border-bottom: 0 !important; }
    .border-left-0   { border-left: 0 !important; }
    }
}