.btn-primary {
    background-color: $primary;
    border-color: $primary;
    box-shadow: none;
    &:hover{
        background-color: $primary;
        border-color: $primary;
    }
    &:focus{
        box-shadow: none;
    }
    &.disabled{
        background-color: $primary;
        border-color: $primary;
        cursor: not-allowed;
    }
}
.btn-outline-primary {
    color: $primary;
    border-color: $primary;
    &:hover{
        background-color: $primary;
        border-color: $primary;
    }
    &:focus{
        box-shadow: none;
    }
    &.disabled{
        cursor: not-allowed;
    }
}
.btn-primary:not(:disabled):not(.disabled):active, 
.btn-primary:not(:disabled):not(.disabled).active, 
.show > .btn-primary.dropdown-toggle{
    background-color: $primary;
    border-color: $primary;    
}
.btn-primary:not(:disabled):not(.disabled):active:focus, 
.btn-primary:not(:disabled):not(.disabled).active:focus, 
.show > .btn-primary.dropdown-toggle:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus, 
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus{
    box-shadow: none;
}

.btn-primary.disabled, .btn-primary:disabled{
    
}
// Ripple effect
.ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);

    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        background-image: radial-gradient(circle, $white 10%, transparent 10.01%);
        background-repeat: no-repeat;
        background-position: 50%;
        transform: scale(10, 10);
        opacity: 0;
        transition: transform .5s, opacity 1s;
    }

    &:active {
        &:after {
            transform: scale(0, 0);
            opacity: .3;
            transition: 0s;
        }
    }
}