.card {
    @include box-shadow($box-shadow-sm);
    border-color: $light-border;
    background: $white;

    .card-header {
        border-bottom: none;
        background-color: $light-gray;
    }
    .card-footer{        
        background-color: $white;
    }
}