@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(assets/fonts/Roboto-Light.ttf) format('ttf');  
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/fonts/Roboto-Regular.ttf) format('ttf');  
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(assets/fonts/Roboto-Medium.ttf) format('ttf');  
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(assets/fonts/Roboto-Bold.ttf) format('ttf');  
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(assets/fonts/Roboto-Black.ttf) format('ttf');  
}

// font calsses
@for $i from 0 through 40 {
  .font-#{$i * 1} {
      font-size: #{$i * 0.063}rem;
  }
}

// font-weight calsses
@for $i from 0 through 10 {
  .f-w-#{$i * 1} {
      font-weight: #{$i * 1}00;
  }
}