.custom-checkbox{    
    display: block;
    position: relative;
    margin-bottom: 0.75rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
    display: inline-block;                       
    min-height: auto;  
    padding:  0 0 0 ($input-padding-x + 0.75rem);
    line-height:  $input-line-height; 
    margin-right: 0.8rem; 
    &:last-child{
        margin-right: 0;
    }  
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    .checkmark {
        position: absolute;
        top: 0.25rem;
        left: 0;
        height: 1rem;
        width: 1rem;
        background-color: $gray-400;
        // Transitions
        @include transition($transition);
    }
    &:hover input ~ .checkmark {
        background-color: $gray-500;
    }
    input:checked ~ .checkmark {
        background-color: $primary;
    }
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    input:checked ~ .checkmark:after {
        display: block;
    }
    .checkmark:after {
        left: 0.375rem;
        top: 0.125rem;
        width: 0.313rem;
        height: 0.625rem;
        border: solid white;
        border-width: 0 0.125rem 0.125rem 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    
    input:checked ~ .checkbox-line:before {
        border-color: $input-focus-border-color;         
    }
    &.custom-checkbox-border {
        padding:  $input-padding-y $input-padding-x $input-padding-y ($input-padding-x + 1.5rem);
        min-height: $input-height;  
        .checkmark{            
            top: 0.75rem;
            left: 0.625rem;
        }
        .checkbox-line:before {
            content: ''; 
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;                
            border-color:  $input-border-color;
            border-width:  $input-border-width;
            border-style: solid;
            border-radius: $input-border-radius;
            &:focus{
                box-shadow: $input-focus-box-shadow;
            }
        }
    }
}
