.form-control{
    &:focus{
        border-color: $primary;
        box-shadow: none;
    }
}
.invalid-feedback{    
    background-color: $light-red;
    padding: 0.563rem 0.625rem 0.563rem 3.3rem;
    position: relative;
    color: $text-color;
    box-shadow: inset 2.5rem 0px 0px 0px $red;    
    &:before {
        content: '\e903';
        font-family: 'icon' !important;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        display: inline-block;        
        color: $white;                
        font-size: 1.2rem;
        align-self: center;
        position: absolute;
        top: 50%;
        left: 0.625rem;
        line-height: normal;
        margin-top: -0.625rem;    
    }    
}
.valid-feedback{    
    background-color: $lighter-green;
    padding: 0.563rem 0.625rem 0.563rem 3.3rem;
    position: relative;
    color: $text-color;
    box-shadow: inset 2.5rem 0px 0px 0px $green;    
    &:before {
        content: '\e906';
        font-family: 'icon' !important;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        display: inline-block;        
        color: $white;                
        font-size: 1.2rem;
        align-self: center;
        position: absolute;
        top: 50%;
        left: 0.625rem;
        line-height: normal;
        margin-top: -0.625rem;    
    }    
}
.was-validated .form-control:invalid, 
.form-control.is-invalid {
    border-color: $red;
}