// Globle start
.o-l-n {
    outline: none;
}

@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
    box-shadow: $shadow;
}

// transition
@mixin transition($transition) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

// generic transform
@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

// keyframes
@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }

    @-moz-keyframes #{$animationName} {
        @content;
    }

    @-o-keyframes #{$animationName} {
        @content;
    }

    @keyframes #{$animationName} {
        @content;
    }
}

// margin top vh calsses
@for $i from 0 through 30 {
    .m-t-vh-#{$i * 1} {
        margin-top: #{$i * 1}vh;
    }
}

// margin bottom vh calsses
@for $i from 0 through 30 {
    .m-b-vh-#{$i * 1} {
        margin-bottom: #{$i * 1}vh;
    }
}



//Margin
@for $i from -25 through 25 {
    .m-l-#{$i * 5} {
        margin-left: #{$i * 5}px;
    }

    .m-t-#{$i * 5} {
        margin-top: #{$i * 5}px;
    }

    .m-r-#{$i * 5} {
        margin-right: #{$i * 5}px;
    }

    .m-b-#{$i * 5} {
        margin-bottom: #{$i * 5}px;
    }
}

@include media-breakpoint-down(sm) {
    @for $i from -25 through 25 {
        .m-l-sm-#{$i * 5} {
            margin-left: #{$i * 5}px;
        }

        .m-t-sm-#{$i * 5} {
            margin-top: #{$i * 5}px;
        }

        .m-r-sm-#{$i * 5} {
            margin-right: #{$i * 5}px;
        }

        .m-b-sm-#{$i * 5} {
            margin-bottom: #{$i * 5}px;
        }
    }
}

.margin-0 {
    margin: 0 !important;
}

@for $i from 0 through 25 {
    .p-l-#{$i * 5} {
        padding-left: #{$i * 5}px;
    }

    .p-t-#{$i * 5} {
        padding-top: #{$i * 5}px;
    }

    .p-r-#{$i * 5} {
        padding-right: #{$i * 5}px;
    }

    .p-b-#{$i * 5} {
        padding-bottom: #{$i * 5}px;
    }
}

@include media-breakpoint-down(sm) {
    @for $i from 0 through 25 {
        .p-l-sm-#{$i * 5} {
            padding-left: #{$i * 5}px;
        }

        .p-t-sm-#{$i * 5} {
            padding-top: #{$i * 5}px;
        }

        .p-r-sm-#{$i * 5} {
            padding-right: #{$i * 5}px;
        }

        .p-b-sm-#{$i * 5} {
            padding-bottom: #{$i * 5}px;
        }
    }
}

.padding-0 {
    padding: 0 !important;
}

// Loader
.loader {
    span {
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        background: url(assets/images/mya-loader.gif) no-repeat center center rgba(255, 255, 255, 0.8);
        background-size: 85px;
    }
}

// Tabs (Settings Page)
.setting-panel {
    border: solid 1px $gray-200;
    box-shadow: $box-shadow;
    margin-bottom: 30px;

    .tab-container {
        display: flex;
        min-height: calc(100vh - 270px);

        ul.nav-pills,
        .tab-content {
            display: inline-flex;
            vertical-align: top;
            align-items: stretch;
        }

        ul.nav-pills {
            width: 35%;
            background-color: $light-gray;

            li {
                .nav-link {
                    padding: 12px 30px;
                    color: $gray-900;
                    letter-spacing: 0.5px;
                    font-size: 16px;
                    border-bottom: 1px solid $border-light;

                    &.active {
                        background-color: $white;
                        font-weight: 700;
                    }
                }
            }
        }

        .tab-content {
            width: 65%;
            padding: 20px 30px;
            background-color: $white;
        }
    }
}