@font-face {
    font-family: 'myabilitie-icon';
    src:  url('../../assets/fonts/icon-font/icomoon.eot');
    src:  url('../../assets/fonts/icon-font/icomoon.eot') format('embedded-opentype'),
      url('../../assets/fonts/icon-font/icomoon.ttf') format('truetype'),
      url('../../assets/fonts/icon-font/icomoon.woff') format('woff'),
      url('../../assets/fonts/icon-font/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="ma-"], [class*=" ma-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'myabilitie-icon' !important;
    speak-as: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
.ma {
    display: inline-block;    
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
.ma-icon-alert-fail:before {
  content: "\e903";
}
.ma-icon-alert-info:before {
  content: "\e904";
}
.ma-icon-alert-success:before {
  content: "\e906";
}
.ma-icon-alert-warning:before {
  content: "\e907";
}
.ma-icon-arrow-next:before {
  content: "\e900";
}
.ma-icon-arrow-previous:before {
  content: "\e901";
}
.ma-icon-lock:before {
  content: "\e902";
}