.step-list{
    justify-content: space-evenly;
    -ms-justify-content: space-evenly;
    display: flex;
    -ms-display: flex;
    margin-bottom: 1rem;
    padding: 0;

    li{
        width: 100%;
        text-align: center;       
        padding: 1rem;
        border: solid 1px $border-color;
        border-left: none;
        list-style: none;
        cursor: pointer;
        &:first-child{
            border-left: solid 1px $border-color;    
        }
        &:hover{
            background-color: $light-gray;
        }
        &.active{
            box-shadow: inset 0 0 0px 1px $light-green;
            background-color: $lighter-green;
        }
        .step-icon-img{
            margin-bottom: 15px;
            max-height: 100px;
        }        
    }
}