// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system


$white:    #fff ;
$gray-100: #f9fafc ;
$gray-200: #eaeaea ;
$gray-300: #dee2e6 ;
$gray-400: #ced4da ;
$gray-500: #adb5bd ;
$gray-600: #6c757d ;
$gray-700: #495057 ;
$gray-800: #343a40 ;
$gray-900: #3a3f43 ;
$black:    #000 ;
$border-color: #cbd3da;
$border-light: #d5dde1;
$light-gray: #f2f6f7;
$text-color: $gray-900 ;


$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$blue:    #0f5cd5 ;
$indigo:  #6610f2 ;
$purple:  #6f42c1 ;
$pink:    #e83e8c ;
$red:     #dc3545 ;
$light-red: #ffdfdf ;
$orange:  #fd7e14 ;
$yellow:  #ffc107 ;
$green:   #28a745 ;
$teal:    #20c997 ;
$cyan:    #17a2b8 ;

$dark-green: #00854b;
$light-green: #2be653;
$lighter-green: #e4f9f0;

$colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "light-red":  $light-red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800,
    "text-color": $text-color,
    "dark-green": $dark-green,
    "light-green":$light-green,    
    "lighter-green":$lighter-green
  ),
  $colors
);

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;
$light-gray:    $light-gray; 
$lightest-grey: $gray-100;
$light-border:  $gray-200;

$theme-colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark,
    "light-gray": $light-gray,    
    "border-color": $border-color,
    "lightest-grey": $lightest-grey,
    "light-border": $light-border,
  ),
  $theme-colors
);

$white:       var(--white);
$blue:        var(--blue);
$indigo:      var(--indigo);
$purple:      var(--purple);
$pink:        var(--pink);
$red:         var(--red);
$light-red:   var(--light-red);
$orange:      var(--orange);
$yellow:      var(--yellow);
$green:       var(--green);
$teal:        var(--teal);
$cyan:        var(--cyan);
$primary :    var(--primary);
$secondary:   var(--secondary);
$success:     var(--success);
$info:        var(--info);
$warning:     var(--warning);
$danger:      var(--danger);
$light:       var(--light);
$dark:        var(--dark);
$light-gray:  var(--light-gray);
$lightest-grey: var(--lightest-grey);
$border-color: var(--border-color);
$light-border :var(--light-border);
$text-color:   var(--text-color);
$dark-green:   var(--dark-green);
$light-green:  var(--light-green);    
$lighter-green:var(--lighter-green);
// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$box-shadow-sm:               0 .125rem .25rem rgba($black, .075);
$box-shadow:                  2px 2px 6px 0 rgba($gray-900, .05);//0 .5rem 1rem rgba($black, .15);
$box-shadow-lg:               0 1rem 3rem rgba($black, .175);

// Transitions
$transition: all 0.5s;


// Body
//
// Settings for the `<body>` element.

$body-bg:                   $lightest-grey;
$body-color:                $text-color;

// Header
$height-height: 4.688rem;
$logo-max-height: 3.125rem;
//footer
$footer-min-height: 3.5rem;
$footer-logo: 2.5rem;
//section