<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1 class="py-4 mb-0">Settings</h1>
        </div>
    </div>
    <div class="setting-panel">
        <tabset [vertical]="true" type="pills">
            <tab heading="Account">
                <app-account></app-account>
            </tab>
            <tab heading="Employee Details">
                <app-employee-details></app-employee-details>
            </tab>
            <tab heading="Notifications">
                <app-notifications></app-notifications>
            </tab>
            <tab heading="Company Information">
                <app-company-info></app-company-info>
            </tab>
            <tab heading="Users">
                <app-users></app-users>
            </tab>
            <tab heading="Job Profile Template">
                <app-job-profile-template></app-job-profile-template>
            </tab>
            <tab heading="ROSA">
                <app-rosa></app-rosa>
            </tab>
        </tabset>
    </div>
</div>