<!-- Footer Area -->
<footer class="footer">
  <nav class="navbar navbar-expand-sm flex-column flex-sm-row">
    <a class="navbar-brand text-light" href="#"><img class="img-fluid footer-logo" src="../../../../assets/images/powered-by-white.svg" alt=""></a>
    <ul class="navbar-nav ml-sm-auto">
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="http://myabilities.com/privacy-policy">Privacy Policy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="http://myabilities.com/terms-and-conditions">Terms and
          Conditions</a>
      </li>
    </ul>
  </nav>
</footer>
