@import '../../../../assets/scss/variables-custom';

.footer{
    background-color: $text-color;
    width: 100%;
    color: $white;    
    text-align: center;
    min-height: $footer-min-height;
    .navbar-nav{        
        .nav-link{
            color: $white;
            &:hover{
                color: $primary;
            }
        }
    }
    .footer-logo{
        height: $footer-logo;
    }
}