<div class="container">
  <!-- Progress bar -->
  <div class="progress mt-3 mb-3">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
      aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
  </div>
  <!-- ./Progress bar -->
  <h1 class="font-weight-normal">Register Your Company</h1>
  <p>All fields are required unless marked "optional".</p>
  <!-- card Start -->
  <div class="card mb-3">
    <div class="card-header">
      <h3 class="m-0">Company Type</h3>
    </div>
    <div class="card-body">
      <h5 class="card-title">I am...</h5>
      <div class="row">
        <div class="col-md-6">
          <ul class="step-list">
            <li class="">
              <img class="step-icon-img" src="/assets/images/static-icon/icon-user-employer.svg" alt="">
              <div>
                <h5>An Employer</h5>
                <input type="radio" class="d-none" name="">
              </div>
            </li>
            <li class="">
              <img class="step-icon-img" src="/assets/images/static-icon/icon-user-service-provider.svg" alt="">
              <div>
                <h5>A Service Provider</h5>
                <input type="radio" class="d-none" name="">
              </div>
            </li>
          </ul>
          <ul class="step-list mb-0">
            <li class="text-left">
              <div class="row align-items-center">
                <div class="col-auto"><img class="step-icon-img m-0"
                    src="/assets/images/static-icon/icon-user-employer.svg" alt=""></div>
                <div class="col">
                  <div>Insurer, TPA, or Managed Care Company?</div>
                  <div><b>Contact our sales team at 1 888 312 5009 or <a
                        href="mailto:info@myabilities.com">info@myabilities.com</a></b></div>
                  <div>to find the right MyAbilities solution for you.</div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
    <div class="card-footer">
      <button type="button" href="#" class="btn btn-primary ripple">Next <span _ngcontent-vht-c3=""
          class="ma ma-icon-arrow-next ml-2"></span></button>
    </div>
  </div>
  <!-- ./card End -->
  <!-- card Start -->
  <div class="card mb-3">
    <div class="card-header">
      <h3 class="m-0">Account Owner Information</h3>
    </div>
    <!-- Card-body Start -->
    <div class="card-body">
      <!-- Form Start -->
      <form><!-- "is-invalid : is-valid " class for validation -->
        <div class="row">
          <div class="col-md-6 col-lg-5">
            <div class="form-group">
              <label for="">First Name</label>
              <input type="text" class="form-control" id="">
              <div class="invalid-feedback">Enter an Name address.</div>
              <div class="valid-feedback">Enter an Name address.</div>
            </div>
            <div class="form-group">
              <label for="">Last Name</label>
              <input type="text" class="form-control" id="">
            </div>
            <div class="form-group">
              <label for="" class="m-0">Email address</label>
              <small id="emailHelp" class="form-text text-muted">This will be your username to log in.</small>
              <input type="email" class="form-control" id="">
              <div class="invalid-feedback">Enter an email address</div>              
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control is-invalid is-valid">
              <div class="invalid-feedback">Your password does not match</div>
              <div class="valid-feedback">Your password does match</div>
            </div>
          </div>
        </div>
      </form>
      <!-- ./Form End -->
    </div>
    <!-- Card-body End -->
    <div class="card-footer">
      <button type="button" href="#" class="btn btn-primary ripple">Next <span _ngcontent-vht-c3=""
          class="ma ma-icon-arrow-next ml-2"></span></button>
    </div>
  </div>
  <!-- ./card End -->
</div>
