<form>
    <div class="form-group">
        <label class="font-18" for="">{{'EMAIL' | translate}}</label>
        <input type="email" class="form-control" id="">
        <div class="invalid-feedback">Enter an email address.</div>
    </div>
    <div class="form-group">
        <label class="font-18" for="">{{'PASSWORD' | translate}}</label>
        <input type="password" class="form-control" id="">
    </div>
</form>