@import '../../../assets/scss/variables-custom';
@import '../../../assets/scss/breakpoints';

.logo {
    max-height: $logo-max-height;
}

.login-title {
    padding-top: 50px;
    margin-bottom: 20px;
}

.login-area {
    background-image: url('/assets/images/login-bg.png');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    min-height: calc(100vh - 141px);

    .login-box {
        max-width: 635px;
        margin: 0 auto;
        background-color: $white;
        box-shadow: $box-shadow;
        padding: 30px;

        @include media-breakpoint-up(sm) {
            padding: 50px 100px;
        }
    }
}

.register-your-company {
    max-width: 435px;
    margin: 0 auto;
    padding-top: 40px;
}

.sales-team-text {
    margin-top: 40px;
    margin-bottom: 20px;
}

.login-whitelabel-box {
    max-width: 800px;
    margin: 0 auto;
    background-color: $white;
    box-shadow: $box-shadow;
    padding: 30px;

    @include media-breakpoint-up(sm) {
        padding: 30px 30px;
    }
}