<div class="login-area">
  <!-- Contant Area -->
  <div class="container">
    <h1 class="text-center login-title f-w-4 font-30" data-aos="fade-in" data-aos-once="true" data-aos-duration="1500">
      {{'TITLE' | translate}}</h1>
    <!-- Login Form Box -->
    <div class="login-box" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
      <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm)" novalidate>
        <div class="form-group" data-aos="fade-up" data-aos-once="true" data-aos-duration="1500">
          <label class="font-18" for="">{{'EMAIL' | translate}}</label>
          <input type="email" class="form-control" id="">
          <div class="invalid-feedback">Enter an email address.</div>
        </div>
        <div class="form-group" data-aos="fade-up" data-aos-once="true" data-aos-duration="1500" data-aos-delay="100">
          <label class="font-18" for="">{{'PASSWORD' | translate}}</label>
          <input type="password" class="form-control" id="">
        </div>
        <div class="row" data-aos="fade-up" data-aos-once="true" data-aos-duration="1500" data-aos-delay="200">
          <div class="col-sm-6">
            <label class="custom-checkbox">{{'REMEMBER_ME' | translate}}
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="col-sm-6 text-sm-right mb-2">
            <a href="javascript:void(0);">{{'FORGOT_PASSWORD' | translate}}</a>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block ripple" data-aos="fade-up" data-aos-once="true"
          data-aos-duration="1500" data-aos-delay="300"><span
            class="ma-icon-lock m-r-10"></span>{{'LOGIN' | translate}}</button>
      </form>
    </div>
    <!-- Login whitelabel Form Box -->
    <div class="login-whitelabel-box " data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
      <div class="row">
        <div class="col-md-6 mb-3 mb-md-0 align-self-center">
          <div class="text-center">
            <img class="img-fluid" src="../../../assets/images/logo-beta.svg" alt="Logo">
          </div>
          <div class="text-center">
            <h3>The only way to expedite RTW using realtime data.</h3>
            <i>You are using this site as a tester of the platform.</i>
          </div>
        </div>
        <div class="col-md-6 border-md-left">
          <form [formGroup]="loginForm1" (ngSubmit)="loginUser(loginForm1)" novalidate>
            <div class="form-group" data-aos="fade-up" data-aos-once="true" data-aos-duration="1500">
              <label class="font-18" for="">{{'EMAIL' | translate}}</label>
              <input type="email" class="form-control" id="">
              <div class="invalid-feedback">Enter an email address.</div>
            </div>
            <div class="form-group" data-aos="fade-up" data-aos-once="true" data-aos-duration="1500"
              data-aos-delay="100">
              <label class="font-18" for="">{{'PASSWORD' | translate}}</label>
              <input type="password" class="form-control" id="">
            </div>
            <div class="row" data-aos="fade-up" data-aos-once="true" data-aos-duration="1500" data-aos-delay="200">
              <div class="col-sm-6">
                <label class="custom-checkbox">{{'REMEMBER_ME' | translate}}
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="col-sm-6 text-sm-right mb-2">
                <a href="javascript:void(0);">{{'FORGOT_PASSWORD' | translate}}</a>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block ripple" data-aos="fade-up" data-aos-once="true"
              data-aos-duration="1500" data-aos-delay="300"><span
                class="ma-icon-lock m-r-10"></span>{{'LOGIN' | translate}}</button>
          </form>
        </div>
      </div>
    </div>
    <div class="register-your-company" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000"
      data-aos-offset="-10">
      <a href="/register" class="btn btn-block btn-outline-primary ripple"
        title="Register Your Company Online">{{'Register_Your_Company_Online' | translate}}</a>
    </div>
    <div class="text-center sales-team-text" data-aos="fade-in" data-aos-once="true" data-aos-duration="1500"
      data-aos-offset="-10">Or call
      our sales team at <b>1 888 312 5009</b> or
      <b>info@myabilities.com</b>
    </div>
  </div>
</div>